body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bg.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   animation: aa 5s linear infinite;
}
@keyframes aa{
    100%{
        filter: hue-rotate(360deg);
    }
}
   
.header{
    /* position: relative; */
    background: transparent;
    border: 2px solid rgb(255,255,255,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    border-radius: 15px;
    
}
h2{
    text-align: center;
    font-family: "poppins",sans-serif;
    font-size: 2em;
    color: white;
}
.log{
    position: relative;
    margin: 20px 0;
   width: 310px;
   border-bottom: 2px solid white;
}
label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: .5s;
    color: white;
}

  input:focus ~ label ,
  input:valid ~ label{
    top:-5px;
}
.s{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: transparent; 
    color: white;
    
}
button{
    font-family: "poppins",sans-serif;
    font-size: 1em;
    width: 100%;
    height: 50px;
    border-radius: 60px;
}
button:hover{
    color: red;
}
span{
    color: #ffffff;
}
.re{
    display: flex;
    justify-content: space-between;
   
}
nav {
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: Red;
}

